@model WebApplication1.Models.suplierModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>suplierModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.suplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierOrgNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierOrgNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierPgNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierPgNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierBgNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierBgNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currencyCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currencyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierOrgNrFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierOrgNrFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierOrgNrWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierOrgNrWordMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierPgNrFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierPgNrFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierPgNrWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierPgNrWordMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierBgNrFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierBgNrFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierBgNrWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierBgNrWordMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currencyFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currencyFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currencyWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currencyWordMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.purchOrderNoFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchOrderNoFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.purchOrderNoWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchOrderNoWordMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceDateFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceDateFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceDateWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceDateWordMatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierOrcNrFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierOrcNrFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.suplierOrcNrWordMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.suplierOrcNrWordMatch)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="suplierId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
