@model WebApplication1.Models.eInvoice

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>eInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchOrderNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchOrderNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDateSpecified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDateSpecified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDateSpecified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDateSpecified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VatAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VatAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Authorizor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Authorizor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OurCustomerNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OurCustomerNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ocr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ocr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FreightSpecified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FreightSpecified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VatCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VatCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrgNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrgNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OurReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OurReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YourReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YourReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceRecipient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceRecipient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pdfPaths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pdfPaths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Redable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Redable)
        </dd>

    </dl>
    @foreach (var item in Model.ListImages)
    {

        <img src="@Url.Action("RenderImage", new { id = item.eInvoceId})" />

        <dl>
            <dt>
                @Html.DisplayNameFor(model => item.ImageName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.ImageName)
            </dd>
        </dl>

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.eInvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
