@model IEnumerable<WebApplication1.Models.eInvoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-bordered">
    @*<thead>*@
@*<tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDateSpecified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDateSpecified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VatAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authorizor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurCustomerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreightSpecified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YourReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceRecipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdfPaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Redable)
            </th>
        <th></th>
    </tr>*@
@*</thead>
    <tbody>*@


@foreach (var item in Model)
{
    <div class="border container-fluid" style="background-color:khaki">
         
            <div class="pull-left">

                @foreach (var item1 in item.ListImages.GroupBy(m => m.ImageName).Select(group => group.First()))
                {

                    <img src="data:image/jpg;base64, @System.Convert.ToBase64String(item1.ImageData)" width="600" height="800" />

                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => item1.ImageName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item1.ImageName)
                        </dd>
                    </dl>
                }



            </div>
            <div class="row pull-right padding">
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.CurrencyCode)
                    @Html.DisplayFor(modelItem => item.CurrencyCode)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.PurchOrderNo)
                    @Html.DisplayFor(modelItem => item.PurchOrderNo)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.PayType)
                    @Html.DisplayFor(modelItem => item.PayType)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Amount)
                    @Html.DisplayFor(modelItem => item.Amount)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.InvoiceD)
                    @Html.DisplayFor(modelItem => item.InvoiceD)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.InvoiceDateSpecified)
                    @Html.DisplayFor(modelItem => item.InvoiceDateSpecified)
                </div>
            </div>
            <div class="row pull-right padding">
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.DueD)
                    @Html.DisplayFor(modelItem => item.DueD)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.DueDateSpecified)
                    @Html.DisplayFor(modelItem => item.DueDateSpecified)

                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.VatAmount)
                    @Html.DisplayFor(modelItem => item.VatAmount)

                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Authorizor)
                    @Html.DisplayFor(modelItem => item.Authorizor)

                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.OurCustomerNo)
                    @Html.DisplayFor(modelItem => item.OurCustomerNo)

                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.InvoiceType)
                    @Html.DisplayFor(modelItem => item.InvoiceType)
                </div>
            </div>
            <div class="row pull-right padding">
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Supplier)
                    @Html.DisplayFor(modelItem => item.Supplier)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.SupplierNo)
                    @Html.DisplayFor(modelItem => item.SupplierNo)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.InvoiceNo)
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Ocr)
                    @Html.DisplayFor(modelItem => item.Ocr)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Freight)
                    @Html.DisplayFor(modelItem => item.Freight)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.FreightSpecified)
                    @Html.DisplayFor(modelItem => item.FreightSpecified)
                </div>
            </div>
            <div class="row pull-right padding">
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.VatCode)
                    @Html.DisplayFor(modelItem => item.VatCode)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Pg)
                    @Html.DisplayFor(modelItem => item.Pg)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Bg)
                    @Html.DisplayFor(modelItem => item.Bg)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.OrgNo)
                    @Html.DisplayFor(modelItem => item.OrgNo)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.OurReference)
                    @Html.DisplayFor(modelItem => item.OurReference)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.YourReference)
                    @Html.DisplayFor(modelItem => item.YourReference)
                </div>
            </div>
            <div class="row pull-right padding">
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.InvoiceRecipient)
                    @Html.DisplayFor(modelItem => item.InvoiceRecipient)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Address)
                    @Html.DisplayFor(modelItem => item.Address)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.PostCode)
                    @Html.DisplayFor(modelItem => item.PostCode)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.City)
                    @Html.DisplayFor(modelItem => item.City)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Message)
                    @Html.DisplayFor(modelItem => item.Message)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Vat)
                    @Html.DisplayFor(modelItem => item.Vat)
                </div>
            </div>
            <div class="row pull-right padding">
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.InvoiceFee)
                    @Html.DisplayFor(modelItem => item.InvoiceFee)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Project)
                    @Html.DisplayFor(modelItem => item.Project)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.pdfPaths)
                    @Html.DisplayFor(modelItem => item.pdfPaths)
                </div>
                <div class="col-sm- paddin-sm-">
                    @Html.DisplayNameFor(model => model.Redable)
                    @Html.DisplayFor(modelItem => item.Redable)
                </div>
                <div class="col-sm- paddin-sm-">

                    <a asp-action="Edit" asp-route-id="@item.eInvoiceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.eInvoiceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.eInvoiceId">Delete</a>
                </div>

            </div>
        
    </div>
}
    
</div>
